<div>
  <form action="/favourite" method="post">
    <button type="submit" style="background-color: rgb(129, 238, 125); font-size: 15px; border-radius: 10px; cursor: pointer; padding: 5px; margin: 5px;" >Add To Favourite</button>
    <input type="hidden" name="id" value="<%= home._id %>" />
  </form>
</div>