<header>
    <div class="nav-head">
      <a class="nav-home" href="/" >AIRBNB</a>
      <a class="nav-home" href="/homes" >HOME-LIST</a>
      <a class="nav-home" href="/booking" >BOOKING</a>
      <a class="nav-home" href="/favourite" >FAVOURITES</a>
      <a class="nav-home" href="/host-homes" >HOST-HOME</a>
      <a class="nav-home" href="/host/add-home" >ADD-HOME</a>
    </div>
</header>