<%- include('../partials/head') %>

<body>
  <%- include('../partials/nav') %>
  <header>
    <h1>Your Home Registered Successfully!</h1>
  </header>
  <main>
    <a href="/">Go TO HOME</a>
  </main>
</body>

</html>